@page "/list/{name}/{vname}"

<h1>@Util.ManifestName</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Try</th>
        <th>Correct</th>
    </tr>
    @for (int i = 0; i < Util.Names.Count; i++)
    {
    <tr>
        <td>@Util.Names[i]</td>
        <td>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="try@i">
            </div>
        </td>
        <td>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="correct@i">
            </div>
        </td>
    </tr>
    }
</table>

@functions {
    [Parameter]
    private string Name { get; set; } = "";
    [Parameter]
    private string VName { get; set; } = "";

    protected override void OnInit()
    {
        base.OnInit();
        Util.SetResource(Name,VName);
    }
}